#club-data-container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}
#scatter {
  aspect-ratio: 1 / 0.65;
  border: 2px solid var(--accent-variant);
  line-height: 0px;
  font-size: 12px;
  grid-area: inner-div;
}

#plot-title {
  font-size: 15px;
}

#legend {
  position: absolute;
  grid-area: inner-div;
  margin-top: 32.0%;
  margin-left: -80%;
  width: 10%;
  border: 1px solid var(--accent-variant);
}
