:root {
  --bg: #328f5b;
  --bg-dark: #61423f;
  --bg-light: white;
  --accent: #e03022;
  --accent-variant: #a14840;
}

body {
  font-family: sans-serif;
}

#title {
  background-color: var(--bg);
  color: var(--bg-light);
  text-align: center;
}

#intro {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

.section-container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.inactive {
  opacity: 0.3;
}

/* Left align the section header */
.section-container > h1 {
  width: 100%;
}
