:root {
  --bg: #328f5b;
  --bg-dark: #61423f;
  --bg-light: white;
  --accent: #e03022;
  --accent-variant: #a14840;
}

body {
  font-family: sans-serif;
  margin: 0;
  border-image: linear-gradient(var(--bg) 5%, var(--bg), var(--bg-dark)) 30;
  border-width: 15px;
  border-style: solid;
}

#title {
  background-color: var(--bg);
  color: var(--bg-light);
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}

#intro {
  margin: 0 5%;
  text-align: center;
  font-style: italic;
}

#viz {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  width: 100%;
}

.sidebar {
  position: sticky;
  height: fit-content;
  top: 0;
}

/* Left align the section header */
.section-container > h1 {
  width: 100%;
}

.section-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

#player-portraits-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}

#player-portraits {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}

.player-portrait {
  width: 50%;
  margin: auto;
  border-radius: 50% 20%;
  background-color: var(--bg);
  opacity: 0.7;
}

.player-portrait-selected {
  opacity: 1;
  filter: drop-shadow(0px 0px 2px var(--bg));
}

#sidebar-club-image {
  width: 35%;
  margin: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row; 
}

.footer-content span {
  text-transform: capitalize;
}