:root {
    --bg: #328F5B;
    --bg-dark: #61423F;
    --bg-light: white;
    --accent: #E03022;
    --accent-variant: #A14840;
}

body {
    margin: 0 10%;
    padding: 0 10%;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 2em;
}

.player-portrait {
    margin: 0em 1em;
    width: 7em;
    border-radius: 50% 20%;
    background-color: #328F5B;
    opacity: 0.7;
}

.player-portrait:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
}

#players-container {
    margin-bottom: 1em;
}

#map {
    aspect-ratio: 1 / 0.65;
    border: 2px solid var(--accent-variant);
}

#field {
    background-color: var(--bg);
    border: 2px solid var(--accent-variant);
    width: 100%;
}

#field-lines {
    padding: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#year-slider {
    writing-mode: vertical-lr; 
    direction: rtl;
    width: 1em;
    position: fixed;
    left: 10%;
    top: 3em;
    height: 80%;
    appearance: none;
}

#year-slider::-webkit-slider-thumb {
    height: 50px;
    width: 50px;
    border-radius: 3px;
    background-color: transparent;
    background: url(images/soccer_ball.png) center center no-repeat;
    background-size: contain;
    cursor: pointer;
    appearance: none;
    margin-top: -23px;
}
